<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc khoa hoc</button>
        </div>

        <div class="col-lg-9">
            <h2>{{course.title}}</h2>
            <iframe src="https://www.youtube.com/embed/{{course.video_id}}" frameborder="0"></iframe>
            <p>{{course.decription}}</p>
        </div>
    </div>
</div>
